[submodule "integrations/frzr-meta-root"]
	path = integrations/frzr-meta-root
	url = https://gitlab.com/openos-project/linux-kernel_filesystem_deving/frzr-meta-root.git
[submodule "integrations/btr-fs-git"]
	path = integrations/btr-fs-git
	url = https://gitlab.com/openos-project/linux-kernel_filesystem_deving/btr-fs-git.git
[submodule "integrations/btrfs-assistant"]
	path = integrations/btrfs-assistant
	url = https://gitlab.com/openos-project/linux-kernel_filesystem_deving/btrfs-assistant.git
[submodule "integrations/ashos"]
	path = integrations/ashos
	url = https://gitlab.com/openos-project/linux-kernel_filesystem_deving/ashos.git
[submodule "integrations/gitlab-enhanced"]
	path = integrations/gitlab-enhanced
	url = https://gitlab.com/openos-project/git-management_deving/gitlab-enhanced.git
[submodule "integrations/devcontainers-spec"]
	path = integrations/devcontainers-spec
	url = https://github.com/devcontainers/spec.git
[submodule "integrations/devcontainers-features"]
	path = integrations/devcontainers-features
	url = https://github.com/devcontainers/features.git
[submodule "integrations/devcontainers-cli"]
	path = integrations/devcontainers-cli
	url = https://github.com/devcontainers/cli.git
[submodule "integrations/devcontainers-templates"]
	path = integrations/devcontainers-templates
	url = https://github.com/devcontainers/templates.git
[submodule "integrations/devcontainers-images"]
	path = integrations/devcontainers-images
	url = https://github.com/devcontainers/images.git
[submodule "integrations/devcontainers-action"]
	path = integrations/devcontainers-action
	url = https://github.com/devcontainers/action.git
[submodule "integrations/devcontainers-ci"]
	path = integrations/devcontainers-ci
	url = https://github.com/devcontainers/ci.git
[submodule "integrations/ostree-upstream"]
	path = integrations/ostree-upstream
	url = https://github.com/ostreedev/ostree.git
[submodule "integrations/bootc-upstream"]
	path = integrations/bootc-upstream
	url = https://github.com/bootc-dev/bootc.git
[submodule "integrations/incus-os-upstream"]
	path = integrations/incus-os-upstream
	url = https://github.com/lxc/incus-os.git
